.search label {
  color: brown;
}

.search input {
  width: 350px;
  padding: 6px;
  margin: 5px;
  font-size: 16px;
}

.display_images {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto; */
  width: 95%;
  margin: 15px auto;
  padding: 12px;
}

.img_container {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

img {
  width: 325px;
  height: 195px;
  object-fit: cover;
  padding: 12px;
}
